/* Media Queries */

@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1000px) {
    @content;
  }
}
/*   
  $background: #f7f7f7;
  $box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  $border: 1px solid rgba(191, 191, 191, 0.4);
  $items: 5;
  $rows: ceil($items/2);

  
  $card-height: 400px;
  $card-width: 450px;
  $inner-margin: 15px;
  $number-size: 35px;
  $stagger: 180px;
  $outer-margin: 90px;
  $marker-size: 9px;
  

  
  $steps: #46b8e9;
  $colors: #46b8e9, #3ee9d1, #ce43eb, #4d92eb;
  $timeline: #bdbdbd;
  

  
  $container-height: $rows * ($card-height + $outer-margin) + $stagger;
  $container-width: $card-width * 2 + $outer-margin * 3;
  $head-height: $number-size + 50;
  $body-height: $card-height - $head-height;
  $marker-dist: $card-width + $outer-margin/2 - $marker-size/2; */
:root {
  --background: #f7f7f7;
  --box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  --border: 1px solid rgba(191, 191, 191, 0.4);
  --items: 5;
  --rows: 3;

  /* Card sizing */
  --card-height: 400px;
  --card-width: 450px;
  --inner-margin: 15px;
  --number-size: 35px;
  --stagger: 180px;
  --outer-margin: 90px;
  --marker-size: 9px;

  /* Colors */
  --steps: #46b8e9;
  --colors: #46b8e9, #3ee9d1, #ce43eb, #4d92eb;
  --timeline: #bdbdbd;

  /* Calculations */
  --container-height: calc(
    var(--rows) * (var(--card-height) + var(--outer-margin)) + var(--stagger)
  );
  --container-width: calc(var(--card-width) * 2 + var(--outer-margin) * 3);
  --head-height: calc(var(--number-size) + 50);
  --body-height: calc(var(--card-height) - var(--head-height));
  --marker-dist: calc(
    var(--card-width) + var(--outer-margin) / 2 - var(--marker-size) / 2
  );
}

/* Mixins */
@mixin mq-lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mq-sm {
  @media (max-width: 600px) {
    @content;
  }
}

/* Placeholders */
%arrow {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

%marker {
  position: absolute;
  content: "";
  width: var(--marker-size);
  height: var(--marker-size);
  background-color: var(--timeline);
  border-radius: 50%;
  box-shadow: 0px 0px 2px 8px var(--background);
}

/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: var(--background);
}

#timeline {
  padding: 100px 0;
  background: var(--background);
  border-top: var(--border);
  border-bottom: var(--border);

  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }

  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }

  .demo-card-wrapper {
    position: relative;
    margin: auto;

    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: var(--container-width);
      height: var(--container-height);
      margin: 0 auto;
    }

    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: var(--border);

      @include mq-lg {
        border-left: 1px solid var(--timeline);
      }
    }
  }

  .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;

    @include mq-sm {
      max-width: 60%;
      box-shadow: var(--box-shadow);
    }

    @include mq-md {
      max-width: 40%;
    }

    @include mq-lg {
      max-width: var(--card-width);
      height: var(--card-height);
      margin: var(--outer-margin);
      margin-top: calc(var(--outer-margin) / 2);
      margin-bottom: calc(var(--outer-margin) / 2);

      &:nth-child(odd) {
        margin-right: calc(var(--outer-margin) / 2);

        .head::after {
          @extend %arrow;
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }

        .head::before {
          @extend %marker;
          left: calc(var(--marker-dist) + 1px);
        }
      }

      &:nth-child(even) {
        margin-left: calc(var(--outer-margin) / 2);

        .head::after {
          @extend %arrow;
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }

        .head::before {
          @extend %marker;
          right: calc(var(--marker-dist) - 1px);
        }
      }

      &:nth-child(2) {
        margin-top: var(--stagger);
      }
    }

    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;

      .number-box {
        display: inline;
        float: left;
        margin: var(--inner-margin);
        padding: 10px;
        font-size: var(--number-size);
        line-height: var(--number-size);
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17);
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding-bottom: 6px;
        line-height: 1rem;

        @include mq-sm {
          font-size: 165%;
          line-height: 1.2rem;
        }

        span {
          display: block;
          font-size: 0.6rem;
          margin: 0;

          @include mq-sm {
            font-size: 0.8rem;
          }
        }
      }
    }

    .body {
      background: #fff;
      border: var(--border);
      border-top: 0;
      padding: var(--inner-margin);

      @include mq-lg {
        height: var(--body-height);
      }

      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: var(--inner-margin);
      }

      img {
        display: block;
        width: 100%;
      }
    }
  }

  @for $i from 1 through var(--items) {
    .demo-card--step#{$i} {
      $color: nth(var(--colors), ((($i - 1) % 4) + 1));
      background-color: $color;

      .head::after {
        border-color: $color;
      }
    }
  }
}
